<h1>Books</h1>

<table>
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>

<h2>New book</h2>